<ion-view title="Description" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="description-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Credits</strong>
      </p>

      <p style="color:#000000;">Icon made by https://s3.amazonaws.com/ionic-io-static/xvzdqk7rS8mU7fI2tdh8_travel.png</p>

      <p style="color:#000000;">Exporting app instructions: https://creator.ionic.io/app/designer/2abd8a7c8b26
      </p>
    </div>
  </ion-content>
</ion-view>