<ion-view title="Hamilton Pa Sites" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="hamiltonPaSites-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Within the boundaries of Hamilton lie several significant historic Maori sites. These sites range in type from
        <strong>Pa</strong>,
        <strong>Urupa</strong>, and
        <strong>Papakainga</strong>. The majority of these sites were constructed by the people of Ngati Wairere or its sub-tribes. Many of the sites are in close proximity to the Waikato river and Hamilton CBD, and are either designated as parks or reserves.
        Some sites are currently occupied by buildings.
        <strong>Pukete Pa</strong> is one example of a fortified Pa located at Braithwaite park, on the west bank of the waikato river at Pukete Road. Another Major Pa site located within the Hamilton CBD on London street is
        <strong>Kirikiriroa Pa</strong>. </p>
    </div>
    <div id="hamiltonPaSites-button-bar2" class="button-bar"></div>
    <ion-list id="hamiltonPaSites-list8">
      <ion-item class="item-icon-right positive" id="hamiltonPaSites-list-item7" ui-sref="pa">Pa
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right positive" id="hamiltonPaSites-list-item8" ui-sref="pa2">Urupa
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right positive" id="hamiltonPaSites-list-item9" ui-sref="pa2">Papakainga
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>