<ion-view title="Kirikiriroa Pa" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="kirikiriroaPa-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Kirikiriroa Pa is the most significant Pa within the Hamilton City area. It was a fully fortified Pa Whakairo (Pa with carved palisades). It was an half oval in shape with the riverbank as the flat side and the curved front stretching from London
        Street to Claudelands Road. The curved front was fortified by a ditch and mound structure with an elaborate wooden palisade atop the mound.</p>

      <p style="color:#000000;">Unfortunately, most of the surface features of the Kirikiriroa Pa site were destroyed during the early development of Hamilton City before they were accurately recorded or mapped.</p>
    </div>
    <div>
      <img src="img/nwEKLsiRl6BXOdEdFEyS_kirikiriroaPa.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <u>
      <b>
        <center>
          <font size="4">
            <a href="">Kirikiriroa at present</a>
          </font>
        </center>
      </b>
    </u>
  </ion-content>
</ion-view>