<ion-view title="Pa" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="pa-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A pa is a fortified village where Maori Chiefs and Warriors lived. It was a place of refuge when invading war parties came. In general fortified Pa was constructed by levelling an area of ground. Holes were dug around the perimeter of the site and
        large, heavy, adzed wooden poles or split logs would be set close together with manuka stakes leaving a sufficient gap to allow spears to be thrust between them.</p>
    </div>
    <ion-list id="pa-list6">
      <ion-item class="item-thumbnail-left" id="pa-list-item6" ui-sref="puketePa">
        <img src="img/15NFAC5SMqS9E2JdiDNg_TeRooreTatangi.png">
        <h2>Pukete Pa</h2>
        <p style="white-space:normal;">Te Roore Tatangi - Ngati Koura</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="pa-list-item16" ui-sref="kirikiriroaPa">
        <img src="img/gyXBWxART68yc57NBgT0_kirikiriroaPa.png">
        <h2>Kirikiriroa Pa</h2>
        <p style="white-space:normal;">Now stands a pou whakairo</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>