<ion-view title="Pa" id="page11">
  <ion-content padding="true" class="has-header">
    <div id="pa2-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Urupa</strong>
      </p>

      <p style="color:#000000;">Urupa are burial grounds where bodies of tribe members were buried with elaborate ceremonies and rituals. Often the bodies were buried with items of personal adornment or greenstone artefacts.</p>

      <p style="color:#000000;">
        <strong>Papakainga</strong>
      </p>

      <p style="color:#000000;">A Papakainga was an unfortified and undefended village or hamlet. In pre-European times Papakainga were associated with food production and storage and inhabited by the people involved in these processes.</p>
    </div>
  </ion-content>
</ion-view>