<ion-view title="Pukete Pa" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="puketePa-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Pukete was a fortified Pa, believed to have been constructed by Nga Iwi. Ngati Koura conquered the Nga Iwi inhabitants and took over the pa and surrounding lands.</p>

      <p style="color:#000000;">Pukete Pa was occupied by Ngati Koura under the leadership of Te Roore Tatangi when they abandoned the Pa prior to the land wars of 1863. However, by this time the wooden palisade fortifications of the Pa had disappeared only the ditch remained.</p>
    </div>
    <div>
      <img src="img/fDNqwVQOSkO9t2aV19TO_TeRooreTatangi.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>
        <u>
          <b>
          </b>
        </u>
      </p>
      <center>
        <u>
          <b>
            <a href="" te="" roore="" tatangi=""></a>
          </b>
        </u>
      </center>
      <u>
        <b>
        </b>
      </u>
      <p></p>
    </div>
    <u>
      <b>
        <center>
          <font size="4">
            <a href="">Te Roore Tatangi</a>
          </font>
        </center>
      </b>
    </u>
  </ion-content>
</ion-view>